.bg-color-yellow.sticky-categories {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.blogpost-title {
  font-size: 1.25rem !important;
}
