.footer{
  background-color: #64B5F6;
  padding-bottom: 20px;
}

.footer-row{
  margin-left: 50px !important;
}

.footer-contact-icons{
  border: solid black 1px;
  border-radius: 7px;
  width: 36px;
  height: 45px;
  background-color: #fff;
  border-color: lightgray;
}

.footer-contact-icons a{
  text-decoration: none;
  color: black;
}

.bi-telephone-fill{
  padding: 4px;
}

.footer-contacts {
  text-align: left;
}

.footer-contacts p {
  text-align: left; 
}

/* .bi-question-lg{
  width: 50px;
  height: 60px;
} */

.footer-logo{
  width: 250px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.footer-socials{
  border: solid lightgray 0.5px;
  border-radius: 7px;
  background-color: #fff;
}

.footer-social-icons{
  border: solid #ffffff 0px;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  color: #000000;
  background-color: #ffffff;
  margin: 0px 4px;
}

.footer-social-icons.bi-twitter, .footer-social-icons.bi-instagram{
  color: #ffffff;
  background-color: #000000;
}

.footer-social-icons:hover{
  background-color: #ffffff;
  color: #474444;
}

.footer-social-icons:hover.bi-twitter, .footer-social-icons:hover.bi-instagram{
  background-color: #474444;
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .row{
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 767px) {
  .footer-contacts{
    padding-right: 0px !important;
    /* margin: 0px 20px !important; */
  }
}


@media only screen and (max-width: 575px) {

}
