
.bg-color-yellow {
    background-color: #ffe6a0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
.bg-color-grey{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  h1{
    font-weight: bold;
  }
  p{
    text-align: center, justify;
    margin: 0;
    padding: 0;
  }
  .link-bold{
    font-weight: bold;
  }
  ul{
    list-style-type: circle;
    display: flex;
    /* gap: 2.5rem; */
    flex-direction: column;
  }
  li{
    display: list-item;
  }
  @media only screen and (min-width: 1200px) {
    .paragraph-text {
      padding-left: 200px;
      padding-right: 200px;
    }
  }